name: Build WinlatorXR DLL

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: '7.0.x'

    - name: Build DLL
      run: dotnet build WinlatorXR_XRapiBridge.csproj -c Release -r win-x64 --no-self-contained

    - name: Upload built DLL
      uses: actions/upload-artifact@v4
      with:
        name: WinlatorXR-XRapiBridge
        path: |
          **/bin/Release/net472/win-x64/*.dll
          **/bin/Release/net472/*.dll
